:root {
  --main-bg-color: black;
  --main-text-color: white;
}

body {
  background-color: var(--main-bg-color);
}

h1 {
  color: var(--main-text-color);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  transition: background-size 0.5s ease; /* Transición de 0.5 segundos para cambiar el tamaño del fondo */
  font-size: 14rem;
}

h1:hover {
  color: #333;
  font-weight: 700;
  -moz-transition:color 0.5s, font-weight 0.5s;
  -webkit-transition: color 0.5s, font-family 0.5s;
  -o-transition: color 0.5s, font-weight  0.5s;
  transition: color 0.5s, font-weight 0.5s;
}

.logo--main {
  width: 8vw;
  height: 6vh;
  position: absolute;
  top: 9%;
  left: 4%;
}