/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


/* COLORES */
:root{ 
    --background-color-white:rgb(255, 255, 255); 
    --background-color-grey:rgb(64, 78, 91) ; 
    --background-color-grey-faded: rgb(29, 33, 40);
    --boton-color: rgb(222, 192, 0);
    --title-text-color:rgb(51, 65, 79);
    --title-text-msg:rgb(255, 255, 255);
   }
   /* FIN COLORES */
   /* ESTILOS DEL NAVBAR */ 
   a > img{  /* Tamaño logo del NAV*/
       width: 10vw;
       margin-left: 3.5vw;
   }
   .nav-link{   /* Colores letras del nav*/
       color: var(--title-text-color);
       font-weight: bold;
   }
   .navbar-light .nav-link:hover { /* Color Hover del NAV*/
       color: var(--boton-color); 
   }
   /* FIN ESTILOS DEL NAVBAR */ 
   /* ESTILOS SECTION1 */
   .imgOferta{ /* BACKGROUND INICIAL */ 
       background-repeat: no-repeat;
       height: 36.8rem; 
       background-image: url("https://res.cloudinary.com/mcfit/image/upload/q_auto,f_auto/v1697030558/McFIT%20Kampagnen/2023_Mega-Deal/ES/McFIT_ES_MegaDeal_Media-Stage_Mobile_1080x2565");
       background-size: cover;
       -webkit-animation: fade-in 2s ease-in-out;
               animation: fade-in 2s ease-in-out;  
   }
   .headline {  /* MEGACHOLLO STYLE */ 
    /* CAMBIAR POSICION */ 
    text-align: center;
    color: #fff;
    font-weight: bolder;
    font-size: 200%;
    width: 100%;
    text-shadow: 0px 2px 6px black;
    letter-spacing: 4px;
  }
  
   
   /* FIN /* ESTILOS SECTION1 */ 
   
   
   /*MEDIA QUERY*/
   @media (min-width: 576px) { /* SMALL DEVICE*/
   }
   @media (min-width: 768px) { /* MEDIUM DEVICE*/
   }
   @media (min-width: 992px) { /* LARGE DEVICE*/
   }
   @media (min-width: 1200px) { /* EXTRA-LARGE DEVICE*/
   }
   @media (min-width: 1400px) { /* EXTRA-EXTRA-LARGE DEVICE*/
   }
   /*FIN MEDIA QUERY*/
   /* ANIMACIONES */
   @-webkit-keyframes fade-in {
       0% {
         opacity: 0; /* Inicio con opacidad 0 (invisible) */
       }
       100% {
         opacity: 1; /* Final con opacidad 1 (visible) */
       }
     }
   @keyframes fade-in {
       0% {
         opacity: 0; /* Inicio con opacidad 0 (invisible) */
       }
       100% {
         opacity: 1; /* Final con opacidad 1 (visible) */
       }
     }
     /* FIN ANIMACIONES */